<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{actions_label}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item dungeonroute-add-to-team text-success" data-toggle="modal" data-target="#team_select_modal"><i class="fas fa-plus"></i> {{add_to_team_label}}</a>
        <a class="dropdown-item dungeonroute-clone" data-publickey="{{public_key}}"><i class="fas fa-clone"></i> {{clone_label}}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dungeonroute-delete text-danger" data-publickey="{{public_key}}"><i class="fas fa-trash"></i> {{delete_label}}</a>
    </div>
</div>