<div class="alert alert-danger" role="alert">
    <i class="fa fa-exclamation-triangle"></i> {{import_errors_label}}
</div>

<div class="row g-0">
    <div class="col-4 fw-bold">
        {{category_label}}
    </div>
    <div class="col-8 fw-bold">
        {{message_label}}
    </div>
</div>

{{#notices}}
    <div class="row g-0">
        <div class="col-4">
            {{category}}:
        </div>
        <div class="col-8" title="{{details}}" data-bs-toggle="tooltip">
            {{message}}
        </div>
    </div>
{{/notices}}
