<div id="map_enemy_visual_{{id}}_enemy_portrait"
     class="enemy_icon_npc_enemy_portrait_inner"
     {{#if enemy_portrait_url}}
        style="background-image: url('{{enemy_portrait_url}}');"
     {{/if}}
>
    {{#if state_icon}}
        <div class="enemy_state {{state_color}}"
              style="font-size: {{width}}px;">
            <i class="fa {{state_icon}}"></i>
        </div>
    {{else}}
        &nbsp;
    {{/if}}
</div>
