{{#each info}}
    <div class="row">
        <div class="col-6">
            {{key}}:
        </div>
        <div class="col-4">
            {{#ifCond value '===' 1}}
                <span class="text-success"><i class="fas fa-check-circle"></i></span>
            {{else}}
                {{#ifCond value '===' 0}}
                    <span class="text-danger"><i class="fas fa-times-circle"></i></span>
                {{else}}
                    {{{value}}}
                {{/ifCond}}
            {{/ifCond}}
        </div>
        <div class="col-2 text-right" data-toggle="tooltip" title="{{ info }}{{ warning }}">
            {{#if info}}
                <i class="fas fa-info-circle text-info"></i>
            {{/if}}
            {{#if warning}}
                <i class="fas fa-exclamation-circle text-warning"></i>
            {{/if}}
        </div>
    </div>
{{/each}}
{{#each custom}}
    {{{html}}}
{{/each}}
