<div id="map_brushline_edit_popup_inner" class="popupCustom">
    <div class="form-group">
        <label for="map_brushline_edit_popup_color_{{id}}">{{color_label}}</label>
        <input class="form-control" name="map_brushline_edit_popup_color_{{id}}" type="color"
               id="map_brushline_edit_popup_color_{{id}}">

        {{#rows}}
            <div class="row no-gutters pt-1">
                {{#colors}}
                    <div class="col map_polyline_edit_popup_class_color border-dark"
                         data-color="{{color}}"
                         style="background-color: {{color}};">
                    </div>
                {{/colors}}
            </div>
        {{/rows}}
    </div>
    <div class="form-group">
        <label for="map_brushline_edit_popup_weight_{{id}}">{{weight_label}}</label>
        <select id="map_brushline_edit_popup_weight_{{id}}" class="form-control selectpicker">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <button id="map_brushline_edit_popup_submit_{{id}}" class="btn btn-info" type="button">{{submit_label}}</button>
</div>