<div class="form-group">
    <label for="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}">{{label}}</label>
    <select id="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}" class="selectpicker popup_select"
            data-live-search="{{live_search}}" data-width="300px">
        {{#select value}}
            {{#if show_default}}
                <option value="-1">{{select_default_label}}</option>
            {{/if}}
            {{#values}}
                {{#if html}}
                    <option data-content="{{html}}" value="{{id}}">{{name}}</option>
                {{else}}
                    <option value="{{id}}">{{name}}</option>
                {{/if}}
            {{/values}}
        {{/select}}
    </select>
</div>