{{#each info}}
    <div class="row">
        <div class="col-5 pr-0">
            {{key}}:
        </div>
        <div class="col-5 p-0">
            {{#ifCond value '===' 1}}
                <span class="text-success"><i class="fas fa-check-circle"></i></span>
            {{else}}
                {{#ifCond value '===' 0}}
                    <span class="text-danger"><i class="fas fa-times-circle"></i></span>
                {{else}}
                    {{{value}}}
                {{/ifCond}}
            {{/ifCond}}
        </div>
        {{#if info}}
            <div class="col-2 text-right" data-toggle="tooltip" title="{{ info }}">
                <i class="fas fa-info-circle text-info"></i>
            </div>
        {{else if warning}}
            <div class="col-2 text-right" data-toggle="tooltip" title="{{ warning }}">
                <i class="fas fa-exclamation-circle text-warning"></i>
            </div>
        {{/if}}
    </div>
{{/each}}
{{#each custom}}
    {{{html}}}
{{/each}}
