<div style="position: relative;">
    <div class="modifier modifier_0 {{modifier_0_classes}}" style="display: none;">
        {{{modifier_0_html}}}
    </div>
    <div class="modifier modifier_1 {{modifier_1_classes}}" style="display: none;">
        {{{modifier_1_html}}}
    </div>
    <div class="modifier modifier_2 {{modifier_2_classes}}" style="display: none;">
        {{{modifier_2_html}}}
    </div>
    <div class="{{selection_classes_base}} {{selection_classes}}">
        <div class="{{main_visual_classes}}">
            {{{main_visual_html}}}
        </div>
    </div>
</div>