<div id="map_killzonessidebar_killzone_{{id}}" class="mb-2 map_killzonessidebar_killzone" data-id="{{id}}">
    <div class="row no-gutters">
        <div class="col selectable">
            <div id="map_killzonessidebar_killzone_{{id}}_text" class="h-100 text-center {{text-class}}">

            </div>
        </div>
        <div class="col" style="-ms-flex: 0 0 40px; flex: 0 0 40px;">
            <div id="map_killzonessidebar_killzone_{{id}}_delete" class="btn btn-warning">
                <i class="fa fa-trash"></i>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <div id="map_killzonessidebar_killzone_{{id}}_color"
                 class="btn map_killzonessidebar_color_btn w-100">

            </div>
        </div>
        <div class="col">
            <input type="checkbox" id="map_killzonessidebar_killzone_{{id}}_has_kill_location" class="left_checkbox">
            {{killzone_sidebar_kill_location_label}}
        </div>
    </div>
</div>