<div class="map_icon {{key}} {{selectedclass}}" style="width: {{outer_width}}px; height: {{outer_height}}px;">
    <img src="{{icon_url}}" style="width: {{inner_width}}px; height: {{inner_height}}px;"/>
</div>
