<div class="leaflet-control">
<!--    <div id="admin_panel_mapping_manipulation_tools">-->
<!--        <div class="row no-gutters">-->
<!--            <div class="col">-->
<!--                <h5>{{ mapping_manipulation_tools_header_label }}</h5>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--            <div class="col">-->
<!--                <h6>-->
<!--                    {{ mapping_manipulation_tools_rotate_label }}-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--                <div id="mapping_manipulation_tools_rotate_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-undo"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--            <div class="col">-->
<!--                <h6>-->
<!--                    {{ mapping_manipulation_tools_scale_x_label }}-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-auto mr-2">-->
<!--                <div id="mapping_manipulation_tools_scale_x_minus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--                <div id="mapping_manipulation_tools_scale_x_plus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--            <div class="col">-->
<!--                <h6>-->
<!--                    {{ mapping_manipulation_tools_scale_y_label }}-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-auto mr-2">-->
<!--                <div id="mapping_manipulation_tools_scale_y_minus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--                <div id="mapping_manipulation_tools_scale_y_plus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--            <div class="col">-->
<!--                <h6>-->
<!--                    {{ mapping_manipulation_tools_move_x_label }}-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-auto mr-2">-->
<!--                <div id="mapping_manipulation_tools_move_x_minus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--                <div id="mapping_manipulation_tools_move_x_plus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row no-gutters">-->
<!--            <div class="col">-->
<!--                <h6>-->
<!--                    {{ mapping_manipulation_tools_move_y_label }}-->
<!--                </h6>-->
<!--            </div>-->
<!--            <div class="col-auto mr-2">-->
<!--                <div id="mapping_manipulation_tools_move_y_minus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-minus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--                <div id="mapping_manipulation_tools_move_y_plus_btn" class="btn btn-info">-->
<!--                    <i class="fas fa-plus"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div id="admin_panel_mouse_coordinates">

    </div>
</div>
