<div class="map_icon {{key}} {{selectedclass}}" style="width: calc(8px + {{width}}px); height: calc(8px + {{height}}px);">
    <img src="/images/mapicon/{{key}}.png" style="width: {{width}}px; height: {{height}}px;"/>
</div>