<div id="map_faction_display_controls" class="leaflet-draw-section">
    <div class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top">
        {{#factions}}
            <a class="map_faction_display_control map_controls_custom" href="#"
               data-faction="{{ name_lc }}" title="{{ name }}">
                <i class="{{ fa_class }} fa-circle radiobutton" style="width: 15px"></i>
                <img src="{{ icon_url }}" class="select_icon faction_icon"
                     data-toggle="tooltip" title="{{ name }}"/>
            </a>
        {{/factions}}
    </div>
    <ul class="leaflet-draw-actions"></ul>
</div>