<div id="map_killzonessidebar_killzone_{{id}}" class="form-group map_killzonessidebar_killzone" data-id="{{id}}">
    <div class="card">
        <div class="card-body selectable">
            <div class="row mb-1">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-append mr-1 map_killzonessidebar_killzone_fill_space">
                            <h5 class="card-title map_killzonessidebar_killzone_text {{text-class}}">
                                <span id="map_killzonessidebar_killzone_{{id}}_index"></span>:
                                <span id="map_killzonessidebar_killzone_{{id}}_enemies"></span>
                            </h5>
                        </div>
                        <div class="input-group-append mr-1" style="width: 32px; background-color: {{color}};">

                        </div>
                    </div>
                </div>
            </div>
            <div id="map_killzonessidebar_killzone_{{id}}_enemy_list" class="input-group mb-1">

            </div>
        </div>
    </div>
</div>