<div class="form-group">
    <label for="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}">{{label}}</label>
    <input type="checkbox" class="form-control left_checkbox" value="{{value}}"
           id="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}"
           name="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}"
        {{#ifCond value '===' 1 }}
           checked="checked"
        {{/ifCond}}
    />
</div>