<div class="popupCustom">
    <div class="form-group">
        <label for="enemy_edit_popup_teeming_{{id}}">{{teeming_label}}</label>
        <select data-live-search="true" id="enemy_edit_popup_teeming_{{id}}"
                name="enemy_edit_popup_teeming_{{id}}"
                class="selectpicker popup_select" data-width="300px">
            {{#teeming}}
                <option value="{{key}}">{{description}}</option>
            {{/teeming}}
        </select>
    </div>
    <div class="form-group">
        <label for="enemy_edit_popup_faction_{{id}}">{{faction_label}}</label>
        <select data-live-search="true" id="enemy_edit_popup_faction_{{id}}"
                name="enemy_edit_popup_faction_{{id}}"
                class="selectpicker popup_select" data-width="300px">
            {{#factions}}
                <option value="{{key}}">{{description}}</option>
            {{/factions}}
        </select>
    </div>
    <div class="form-group">
        <label for="enemy_edit_popup_enemy_forces_override_{{id}}">{{enemy_popup_enemy_forces_label}}</label>
        <input type="text" class="form-control"
               id="enemy_edit_popup_enemy_forces_override_{{id}}" name="enemy_edit_popup_enemy_forces_override_{{id}}"/>
    </div>
    <div class="form-group">
        <label for="enemy_edit_popup_seasonal_index_{{id}}">{{enemy_popup_seasonal_index_label}}</label>
        <input type="text" class="form-control"
               id="enemy_edit_popup_seasonal_index_{{id}}" name="enemy_edit_popup_seasonal_index_{{id}}"/>
    </div>
    <div class="form-group">
        <label for="enemy_edit_popup_npc_{{id}}">{{npc_label}}</label>
        <select data-live-search="true" class="selectpicker popup_select" data-width="300px"
                id="enemy_edit_popup_npc_{{id}}" name="enemy_edit_popup_npc_{{id}}">
            {{#npcs}}
                <option value="{{id}}">{{name}} ({{id}})</option>
            {{/npcs}}
        </select>
    </div>
    <input type="submit" id="enemy_edit_popup_submit_{{id}}" class="btn btn-info"/>
</div>