<ul id="map_enemy_raid_marker_radial_{{id}}">
    <li>
        <a href="#">
        </a>
    </li>
    <li data-name="" title="{{ title_raid_marker_no_selection }}" data-toggle="tooltip"><a href="#">
        <i class="fas fa-ban"></i>
    </a></li>
    <li data-name="star" title="{{ title_raid_marker_star }}" data-toggle="tooltip"><a href="#">
        <div class="star_enemy_icon" style=""></div>
    </a></li>
    <li data-name="circle" title="{{ title_raid_marker_circle }}" data-toggle="tooltip"><a href="#">
        <div class="circle_enemy_icon" style=""></div>
    </a></li>
    <li data-name="diamond" title="{{ title_raid_marker_diamond }}" data-toggle="tooltip"><a href="#">
        <div class="diamond_enemy_icon" style=""></div>
    </a></li>
    <li data-name="triangle" title="{{ title_raid_marker_triangle }}" data-toggle="tooltip"><a href="#">
        <div class="triangle_enemy_icon" style=""></div>
    </a></li>
    <li data-name="moon" title="{{ title_raid_marker_moon }}" data-toggle="tooltip"><a href="#">
        <div class="moon_enemy_icon" style=""></div>
    </a></li>
    <li data-name="square" title="{{ title_raid_marker_square }}" data-toggle="tooltip"><a href="#">
        <div class="square_enemy_icon" style=""></div>
    </a></li>
    <li data-name="cross" title="{{ title_raid_marker_cross }}" data-toggle="tooltip"><a href="#">
        <div class="cross_enemy_icon" style=""></div>
    </a></li>
    <li data-name="skull" title="{{ title_raid_marker_skull }}" data-toggle="tooltip"><a href="#">
        <div class="skull_enemy_icon" style=""></div>
    </a></li>
</ul>