<div id="map_killzonessidebar_killzone_{{id}}" class="row no-gutters mb-2 map_killzonessidebar_killzone" data-id="{{id}}">
    <div class="col">
        <div class="h-100 text-center {{text-class}}" style="background-color: {{color}}">
            {{text}}
        </div>
    </div>
    <div class="col" style="-ms-flex: 0 0 40px; flex: 0 0 40px;">
        <div class="btn btn-warning">
            <i class="fa fa-trash"></i>
        </div>
    </div>
</div>