<div class="form-group">
    <label class="font-weight-bold" for="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}">{{label}}:</label>
    <input type="text" class="form-control"
           id="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}"
           name="map_{{map_object_name}}_edit_popup_{{property}}_{{id}}"
           value="{{value}}"/>
</div>