<div id="map_killzonessidebar_floor_switch_{{id}}" class="map_killzonessidebar_floor_switch py-1"
     data-id="{{target_floor_id}}">
    <div class="row no-gutters">
        <div class="{{#if edit}}edit{{/if}}">
            <img class="mx-auto d-block"
                {{#if start}}
                 src="{{dungeon_start_image_url}}"
                {{else}}
                 src="{{door_down_image_url}}"
                {{/if}}
            />
        </div>
        <h6 class="pl-2 m-0">{{name}}</h6>
    </div>
</div>
