<div id="map_enemy_visual_{{id}}_enemy_portrait"
     class="enemy_icon_npc_enemy_portrait_inner"
     {{#if enemy_portrait_url}}
        style="background-image: url('{{enemy_portrait_url}}');"
     {{/if}}
>
    {{#if obsolete}}
        <div class="obsolete text-danger"
              style="font-size: {{width}}px;">
            <i class="fa fa-times-circle"></i>
        </div>
    {{else if overpulled}}
        <div class="overpulled text-success"
              style="font-size: {{width}}px;">
            <i class="fa fa-plus-circle"></i>
        </div>
    {{else}}
        &nbsp;
    {{/if}}
</div>
