<div class="row no-gutters" data-toggle="tooltip" data-placement="right"
     title="{{title}}" data-html="true">
    <div class="col btn
        {{#ifCond btnType '!=' '' }}
        {{ btnType }}
    {{else}}
            btn-info
        {{/ifCond}}
        ">
        <div class="row no-gutters">
            <div class="col-auto">
                <i class="fas {{ fa_class }}"></i>
            </div>
            <div class="col">
                <span class="map_controls_element_label_toggle" style="display: none;">
                    {{ text }}
                </span>
            </div>
        </div>
    </div>
</div>
