<div class="popupCustom">
    <h4>
        {{map_object_name_pretty}}
    </h4>
    {{{html}}}

    {{#unless readonly}}
        <button id="map_{{map_object_name}}_edit_popup_submit_{{id}}" class="btn btn-info"
                type="button">{{submit_label}}</button>
    {{else}}
        {{map_object_readonly_label}}
    {{/unless}}
</div>
