<div id="map_killzonessidebar_killzone_{{id}}" class="map_killzonessidebar_killzone selectable pl-2 pr-1" data-id="{{id}}">
    <div class="row no-gutters">
        <div class="col-auto py-1">
            <h5 class="map_killzonessidebar_killzone_text {{text-class}}">
                <span id="map_killzonessidebar_killzone_{{id}}_index"></span>
            </h5>
        </div>

        <div class="col px-2 py-1">
            <div id="map_killzonessidebar_killzone_{{id}}_enemy_list" class="row no-gutters">

            </div>
        </div>

        <div id="map_killzonessidebar_killzone_{{id}}_has_boss" class="col-auto px-2 py-1"
             data-toggle="tooltip" title="{{kill_zone_has_boss_label}}" style="display: none;">
            <img class="mt-1" src="/images/mapicon/raid_marker_skull.png" style="width: 16px; height: 16px;"/>
        </div>

        <div id="map_killzonessidebar_killzone_{{id}}_has_awakened" class="col-auto  px-2 py-1"
             data-toggle="tooltip" title="{{kill_zone_has_awakened_label}}" style="display: none;">
            <img class="mt-1" src="/images/enemymodifiers/awakened.png" style="width: 16px; height: 16px;"/>
        </div>

        <div id="map_killzonessidebar_killzone_{{id}}_has_prideful" class="col-auto px-2 py-1"
             data-toggle="tooltip" title="{{kill_zone_has_prideful_label}}" style="display: none;">
            <img class="mt-1" src="/images/enemymodifiers/prideful.png"
                 style="width: 16px; height: 16px; border-radius: 16px;"/>
        </div>

        <div id="map_killzonessidebar_killzone_{{id}}_has_inspiring" class="col-auto px-2 py-1"
             data-toggle="tooltip" title="{{kill_zone_has_inspiring_label}}" style="display: none;">
            <img class="mt-1" src="/images/enemymodifiers/inspiring.png" style="width: 16px; height: 16px;"/>
        </div>

        <div class="col-auto px-2 py-1">
            <h5 class="map_killzonessidebar_killzone_text {{text-class}} pt-1">
                <span id="map_killzonessidebar_killzone_{{id}}_enemy_forces_cumulative" data-toggle="tooltip"></span>
            </h5>
        </div>
    </div>
</div>
