<ul id="edit_route_echo_members_container" class="list-group list-group-horizontal">
    {{#if cursorsEnabled}}
        <li class="list-group-item p-0 m-0 mr-1 border-0 cursor">
            {{#if cursorsActive}}
                <button id="echo_toggle_cursors"
                        type="button" class="btn btn-dark btn-sm p-1 w-100 h-100 active"
                        data-toggle="button" aria-pressed="true"
                        data-tooltip="tooltip" title="{{connected_users_hide_cursors_label}}">
                    <i class="fas fa-mouse-pointer"></i>
                </button>
            {{else}}
                <button id="echo_toggle_cursors"
                        type="button" class="btn btn-dark btn-sm p-1 w-100 h-100"
                        data-toggle="button"
                        data-tooltip="tooltip" title="{{connected_users_show_cursors_label}}">
                    <i class="fas fa-mouse-pointer"></i>
                </button>
            {{/if}}
        </li>
    {{/if}}
    {{#each users}}
        <li class="list-group-item p-0 m-0 echo_user echo_user_{{public_key}}">
            <div class="dropdown">
                <a href="#" id="dropdown_user_{{public_key}}" class="nav-link" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    {{#ifCond avatar_url '==' null}}
                        <!-- Somehow required - align-center class does not take precedence -->
                        <div style="text-align: center">
                            {{initials}}
                        </div>
                    {{else}}
                        <img src="{{avatar_url}}" alt="{{initials}}"/>
                    {{/ifCond}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown_user_{{public_key}}">
                    <a class="dropdown-item" href="#">
                        {{name}}
                    </a>
                    <div class="dropdown-divider"></div>
                    {{#ifCond ../type '==' 'livesession'}}
                        {{#unless self}}
                            {{#if following}}
                                <a class="dropdown-item echo_unfollow_user" href="#" data-public_key="{{public_key}}">
                                    <i class="fas fa-link"></i> {{../connected_user_unfollow_label}}
                                </a>
                            {{else}}
                                <a class="dropdown-item echo_follow_user" href="#" data-public_key="{{public_key}}">
                                    <i class="fas fa-link"></i> {{../connected_user_follow_label}}
                                </a>
                            {{/if}}
                        {{/unless}}
                    {{/ifCond}}
                    <a class="dropdown-item" href="{{url}}" target="_blank">
                        <i class="fas fa-user" style="color: {{color}};"></i> {{../connected_user_view_profile_label}}
                    </a>
                </div>
            </div>
        </li>
    {{/each}}
    {{#if hasUsersOverflow}}
        <li class="list-group-item p-0 m-0 ml-1 border-0 echo_user_overflow">
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary" type="button" id="edit_route_echo_members_overflow_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="edit_route_echo_members_overflow_dropdown">
                    {{#each usersOverflow}}
                    <a class="dropdown-item" href="{{url}}" target="_blank">
                        <i class="fas fa-user" style="color: {{color}};"></i> {{initials}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </li>
    {{/if}}
</ul>
