<div style="position: relative;">
    {{#each modifiers}}
    <div class="modifier {{classes}}" style="left: {{left}}px; top: {{top}}px;">
        {{{html}}}
    </div>
    {{/each}}
    <div id="map_enemy_visual_{{id}}" class="{{selection_classes_base}} {{selection_classes}}" style="width: {{outer_width}}; height: {{outer_height}};">
        <div class="{{main_visual_outer_classes}}" style="width: {{outer_width}}; height: {{outer_height}};">
            <div class="{{main_visual_inner_classes}}" style="width: {{inner_width}}; height: {{inner_height}}; margin:{{margin}}px;
                    ">
                {{{main_visual_html}}}
            </div>
        </div>
    </div>
</div>