<div id="map_map_icon_edit_popup_inner" class="popupCustom">
    <div class="form-group">
        <label for="map_map_icon_edit_popup_comment_{{id}}">{{map_comment_label}}</label>
        <textarea class="form-control" cols="50" rows="5" name="map_map_icon_edit_popup_comment_{{id}}"
                  id="map_map_icon_edit_popup_comment_{{id}}"></textarea>
    </div>
    {{#if is_user_admin}}
    <div class="form-group">
        <input type="hidden" name="map_map_icon_edit_popup_always_visible_{{id}}" value="1">
    </div>
    {{/if}}
    <button id="map_map_icon_edit_popup_submit_{{id}}" class="btn btn-info" type="button">{{submit_label}}</button>
</div>