<div id="map_killzonessidebar_killzone_{{id}}" class="form-group map_killzonessidebar_killzone" data-id="{{id}}">
    <div class="card">
        <div class="card-body">
            <h5 id="map_killzonessidebar_killzone_{{id}}_text" class="card-title selectable {{text-class}}">

            </h5>
            <div class="input-group">
                <div id="map_killzonessidebar_killzone_{{id}}_color"
                     class="btn map_killzonessidebar_color_btn w-100">

                </div>
                <div class="input-group-append">
                    <button id="map_killzonessidebar_killzone_{{id}}_has_killzone"
                            class="btn btn-primary" data-toggle="button" aria-pressed="false">
                        <i class="fas fa-bullseye"></i>
                    </button>
                </div>
                <div class="input-group-append">
                    <div id="map_killzonessidebar_killzone_{{id}}_delete" class="btn btn-warning">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>