<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActions_{{user_id}}"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {{actions_label}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownActions_{{user_id}}">
        {{#if can_current_user_ad_free_giveaway }}
            <h6 class="dropdown-header">{{ad_free_giveaway_label}}</h6>
            {{#if has_ad_free }}
                <a class="dropdown-item">
                    {{ad_free_giveaway_user_already_ad_free_label}}
                </a>
            {{else}}
                {{#if has_ad_free_giveaway_by_current_user }}
                    <a class="dropdown-item text-danger ad_free_giveaway_remove" data-userid="{{user_id}}">
                        <i class="fas fa-handshake-slash"></i> {{ad_free_giveaway_remove_label}}
                    </a>
                {{else}}
                    {{#if has_ad_free_giveaway }}
                        <a class="dropdown-item text-warning">
                            {{ad_free_giveaway_user_already_ad_free_giveaway_label}}
                        </a>
                    {{else}}
                        <a class="dropdown-item text-success ad_free_giveaway_add" data-userid="{{user_id}}">
                            <i class="fas fa-handshake"></i> {{ad_free_giveaway_add_label}}
                        </a>
                    {{/if}}
                {{/if}}
            {{/if}}
            <div class="dropdown-divider"></div>
        {{/if}}
        <a class="dropdown-item text-danger remove_user_btn" data-userid="{{user_id}}">
            <i class="fas fa-user-minus"></i> {{remove_label}}
        </a>
    </div>
</div>
