<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {{actions_label}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item dungeonroute-add-tag cursor-pointer" data-publickey="{{public_key}}">
            <i class="fas fa-tag"></i> {{add_remove_tag_label}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dungeonroute-clone cursor-pointer" data-publickey="{{public_key}}">
            <i class="fas fa-clone"></i> {{clone_to_profile_label}}
        </a>
        <a class="dropdown-item dungeonroute-clone-to-team cursor-pointer" data-publickey="{{public_key}}">
            <i class="fas fa-clone"></i> {{clone_to_team_label}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item dungeonroute-remove-from-this-team text-danger cursor-pointer"
           data-publickey="{{public_key}}">
            <i class="fas fa-minus"></i> {{remove_route_label}}
        </a>
    </div>
</div>
